@import '../abstract/variables';
nav {
    text-align: center;

    ul {
        display: flex;
        justify-content: space-around;

        li {            
            padding: 1rem;
            
            a {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                color: $main-color;

                &:hover {
                    border-bottom: 2px solid $secundary-color;
                }
            }
        }
    }
}